/************************ 容器 ***********************/
html,body,ul,li,p{
    margin: 0;
    padding: 0;
}
html,body,.container{
    width: 100%;
    height: 100%;
}
.container {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    background-color: #02778B;
}

/************************ header 头部 ***********************/
.container header{
    width: 100%;
    height: 14vw;
    box-sizing: border-box;
    padding: 0 6vw;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container header i{
    font-size: 5.4vw;
    color: #fff;
    opacity: .7;
}
.container header p{
    font-size: 4.6vw;
    color: #DDD;
}

.container header .music{
    position: absolute;
    right: 2vw;
    top: 14vw;
    display: none;
    z-index: 100;
    border-radius: 4px;

    width: 50vw;
    background-color: #fff;
}
.container header .music ul{
    width: 100%;
}
.container header .music ul li{
    width: 100%;
    height: 10vw;
    border-bottom: dotted 1px #CCC;

    box-sizing: border-box;
    padding-left: 3vw;
    line-height: 10vw;
    color: #666;
    font-size: 4vw;
}
.container header .music ul li:hover{
    background-color: #2FC27D;
    color: #fff;
}

/************************ logo 图片 ***********************/
.container .logo{
    width: 100%;
    height: 46vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.container .logo img{
    width: 50vw;
    height: 38vw;
}

/************************ lyric 歌词 ***********************/
.container .lyric{
    width: 100%;
    height: 224px;
    margin: 3vw 0 1vw;
    overflow: hidden;
    position: relative;
}
.container .lyric ul{
    width: 100%;
    list-style: none;

    position: absolute;
    left: 0;
    top: 0;
}
.container .lyric ul li{
    width: 100%;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    color: #fff;
    opacity: 0.3;
}
.container .lyric ul li:nth-child(1){
    opacity: 0.3;
}
.container .lyric ul li:nth-child(2){
    opacity: 0.5;
}
.container .lyric ul li:nth-child(3){
    opacity: 0.7;
}
.container .lyric ul li:nth-child(4){
    color: #2FC27D;
    opacity: 1;
}
.container .lyric ul li:nth-child(5){
    opacity: 0.7;
}
.container .lyric ul li:nth-child(6){
    opacity: 0.5;
}
.container .lyric ul li:nth-child(7){
    opacity: 0.3;
}

/************************ progress 进度条 ***********************/
.container .progress{
    width: 100%;
    height: 8vw;
    box-sizing: border-box;
    padding: 0 3vw;

    display: flex;
    align-items: center;
}
.container .progress .begin,.container .progress .end{
    flex: 1;
    font-size: 3.2vw;
    color: #888;
    text-align: center;
}
.container .progress .progress-box{
    flex: 6;
    width: 100%;
    height: 0.7vw;
    background-color: #888;
    position: relative;
}
.container .progress .progress-box .bar{
    width: 50%;
    height: 0.7vw;
    background-color:#2FC27D;
}
.container .progress .progress-box .bar-header{
    width: 4vw;
    height: 4vw;
    background-color:#2FC27D;
    border-radius: 2vw;

    position: absolute;
    left: 50%;
    top: -1.7vw;

    user-select: none;
    cursor: pointer;
}

/************************ controller 控制台 ***********************/
.container .controller{
    width: 100%;
    height: 20vw;
    color: #2FC27D;
    font-size: 4.5vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container .controller div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .controller div p{
    user-select: none;
    cursor: pointer;
}
.container .controller div:nth-child(2) p,.container .controller div:nth-child(4) p{
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
    box-sizing: border-box;
    border: solid 2px#2FC27D;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container .controller div:nth-child(3) p{
    width: 14vw;
    height: 14vw;
    font-size: 6vw;
    border-radius: 7vw;
    box-sizing: border-box;
    border: solid 2px#2FC27D;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container .controller div:nth-child(5) p{
    width: 10vw;
    height: 6vw;
    font-size: 3vw;
    border-radius: 3vw;
    box-sizing: border-box;

    color: #888;
    border: solid 1px #888;
    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

