html,body,div,p,ul,li,ol,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url(../img/bj.jpg);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul{
    list-style: none;
    width: 60vw;
    height: 96vh;

    display: flex;
    flex-direction: column;
    margin-right: 2vw;
} 
ul li{
    flex: 1;
    box-sizing: border-box;
    box-shadow:#666 0px 0px 10px;
    border-radius: 0 2vw 2vw 0;
    margin: 0.2vw 0;
    background-color: #409EFF;
}
ul li.low{
    background-color: #67C23A;
}
ul li.high{
    background-color: #F56C6C;
}